@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lora:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
   --lightblue: #E8F9FD;
   --turquise:  #79DAE8;
   --oceanblue: #0AA1DD;
   --blue: #2155CD;
   --white: #FFF;
   --grey: #888;
   --lightgrey: lightgrey;
   --black: black;
   --lightblack: #222;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0px;
}

.max-width {
    max-width: 1400px;
    padding: 0px 80px;
    margin: auto;
}

.about, .skills, .projects, .contact, footer {
    font-family: 'Lora', serif;
}
/* font-family: 'Bangers', cursive;
font-family: 'Lora', serif; */

.about .about-content, 
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.navbar {
    position: fixed;
    width: 100px;
    z-index: 999;
    padding: 30px 0px;
    transition: all 0.3s ease;
}

.navbar .sticky {
    position: 15px 0px;
    background: var(--blue);
}

.navbar .max-width {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar .logo a {
    font-weight: 600px;
    font-size: 35px;
    color: var(--black);
}

.navbar .logo a span {
    color: var(--oceanblue);
    transition: all 0.3s ease;
}

.navbar .sticky .logo a span {
    color: var(--white);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: var(--oceanblue);
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--turquise);
}

.navbar .sticky .menu li a:hover {
    color: var(--white);
}

/* .menu-btn {
    color: var(--white);
    display: none::after} */

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: var(--blue);
    right: 30px;
    bottom: 10px;
    text-align: center;
    color: var(--white);
    z-index: 999;
    border-radius: 6px;
    border-bottom-width: 2px;
    opacity: 0;
    transition: all 0.3s ease;
}

.scroll-up-btn .show {
    bottom: 30px;
    opacity: 1;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}
/* 
.image1 {
    
} */